<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome to MiniTimly!</h5>
    <p class="card-text">Use the navbar to do some testing ;-)</p>
  </div>
</div>