<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Name: <%= item.name %></h5>
    <h5 class="card-text">Brand: <%= item.brand %></h5>
    <p class="card-text">Created at: <%= item.created_at %></p>
    <p class="card-text">Updated at: <%= item.updated_at %></p>
  </div>
</div>